<li>
    <a
        *ngIf="route"
        [routerLink]="route"
        class="flex cursor-pointer items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-orange-200 dark:hover:bg-gray-700"
    >
      <ng-content  ></ng-content>
      <span class="flex-1 ml-3 whitespace-nowrap">{{text}}</span>
    </a>

    <a
    *ngIf="!route"
        (click)="itemClicked.emit()"
      class="flex cursor-pointer items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-orange-200 dark:hover:bg-gray-700"
    >
      <ng-content  ></ng-content>
      <span class="flex-1 ml-3 whitespace-nowrap">{{text}}</span>
  </a>

  </li>
