<div class="flex p-3 py-4 bg-white text-gray-900 mr-6 rounded-lg justify-between items-center">
  <h2 class="text-2xl ">Liste des utilisateurs</h2>
  <button
    (click)="loadUsers()"
    class="text-white items-center flex gap-2 bg-orange-500 hover:bg-orange-400 focus:ring-4 focus:ring-gray-300
  font-medium rounded-lg text-sm px-4 lg:px-5 py-2  dark:bg-primary-600 dark:hover:bg-primary-700
  focus:outline-none dark:focus:ring-primary-800">
    <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 3L15.6 3C15.2686 3 15 3.26863 15 3.6V3.6L15 9" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M15.5 3.5C18.7983 4.80851 21 8.29825 21 12C21 16.8715 16.9706 21 12 21C7.02944 21 3 16.8715 3 12C3 8.73514 4.80989 5.52512 7.5 4" stroke="#323232" stroke-width="2" stroke-linecap="round"/>
    </svg>
    <span>Rafraîchir</span>
  </button>
</div>


<div
class="w-full pr-6"
id="content"
>
    <dx-data-grid
      class=" mt-4 p-4 bg-white rounded-lg"
    id="gridContainer"
    [dataSource]="users"
    keyExpr="id"
    [showBorders]="true"
  >
      <dxo-search-panel
        class=" mr-3"
        [visible]="true"
        [width]="300"
        placeholder="Recherche..."
      ></dxo-search-panel>
  <dxi-column
    caption="Prénom"
    [width]="200"

    dataField="firstName"
  ></dxi-column>
  <dxi-column
    caption="Nom"
    [width]="200"

    dataField="lastName"
  ></dxi-column>
  <dxi-column
    caption="Email"
    [width]="250"

    dataField="email"
  ></dxi-column>
  <dxi-column
  caption="Actif"
  [width]="150"
  dataField="isActive"
  cellTemplate="isActiveTemplate"
></dxi-column>
  <dxi-column
    caption="Administrateur"
    [width]="150"
    dataField="isAdmin"
  ></dxi-column>
  <dxi-column
    caption="Date création"
    [width]="150"
    dataType="date"
    format="dd/MM/yyyy HH:mm:ss"
    dataField="createdAt"
  ></dxi-column>
  <dxi-column
    caption="Dernière activité"
    [width]="150"
    dataType="date"
    format="dd/MM/yyyy HH:mm:ss"
    dataField="lastActivity"
  ></dxi-column>
  <dxi-column
    caption="Action"
    alignment="center"
    cellTemplate="actionsTemplate"
    dataField="id"
  ></dxi-column>

  <div *dxTemplate="let data of 'isActiveTemplate'">
    <div class="w-full flex justify-center">
      <app-loading-spinner *ngIf="getColumnActiveLoadingVisibility(data.data.id)"></app-loading-spinner>
    </div>
    <dx-check-box
      *ngIf="!getColumnActiveLoadingVisibility(data.data.id)"
      [(value)]="data.data.isActive"
      (onValueChanged)="changeIsActive(data.data.id, $event.value,$event)"></dx-check-box>
  </div>
  <div *dxTemplate="let data of 'actionsTemplate'">
<!--    <div class="w-full flex justify-center">-->
<!--      <i class="fas fa-fw fa-trash-alt text-white ">delete</i>-->
<!--    </div>-->
<div class="w-full flex justify-center">
  <div class="cursor-pointer rounded-full"
    (click)="deleteUser(data.data.id)"
  >
    <svg class="w-6 h-6" viewBox="0 0 1024 1024" fill="#000000"   version="1.1" xmlns="http://www.w3.org/2000/svg">
      <path d="M512 897.6c-108 0-209.6-42.4-285.6-118.4-76-76-118.4-177.6-118.4-285.6 0-108 42.4-209.6 118.4-285.6 76-76 177.6-118.4 285.6-118.4 108 0 209.6 42.4 285.6 118.4 157.6 157.6 157.6 413.6 0 571.2-76 76-177.6 118.4-285.6 118.4z m0-760c-95.2 0-184.8 36.8-252 104-67.2 67.2-104 156.8-104 252s36.8 184.8 104 252c67.2 67.2 156.8 104 252 104 95.2 0 184.8-36.8 252-104 139.2-139.2 139.2-364.8 0-504-67.2-67.2-156.8-104-252-104z"
                                                                                                                                fill="" /><path d="M707.872 329.392L348.096 689.16l-31.68-31.68 359.776-359.768z" fill="" /><path d="M328 340.8l32-31.2 348 348-32 32z" fill="" /></svg>

  </div>
</div>
  </div>
  </dx-data-grid>
</div>
