<h2 class="text-2xl p-3 py-4 bg-white text-gray-900 mr-6 rounded-lg">Liste des utilisateurs</h2>

<div
class="w-full pr-6 mt-4"
>
    <dx-data-grid
    id="gridContainer"
    [dataSource]="users"
    keyExpr="id"
    [showBorders]="true"
  >
  <dxi-column
    caption="Prénom"
    [width]="200"
    
    dataField="firstName"
  ></dxi-column>
  <dxi-column
    caption="Nom"
    [width]="200"
    
    dataField="lastName"
  ></dxi-column>
  <dxi-column
    caption="Email"
    [width]="250"
    
    dataField="email"
  ></dxi-column>
  <dxi-column
  caption="Actif"
  [width]="150"
  dataField="isActive"
  cellTemplate="isActiveTemplate"
></dxi-column>
  <dxi-column
    caption="Administrateur"
    [width]="150"
    
    dataField="isAdmin"
  ></dxi-column>
  <dxi-column
    caption="Date création"
    [width]="200"
    dataType="date"
    format="dd/mm/yyyy HH:MM:SS"
    dataField="createdAt"
  ></dxi-column>
  <dxi-column
    caption="Dernière activité"
    [width]="200"
    dataType="date"
    format="dd/mm/yyyy HH:MM:SS"
    dataField="lastActivity"
  ></dxi-column>
  <dxi-column
    caption="Action"
  ></dxi-column>

  <div *dxTemplate="let data of 'isActiveTemplate'"> 
    <div class="w-full flex justify-center">
      <app-loading-spinner *ngIf="getColumnActiveLoadingVisibility(data.data.id)"></app-loading-spinner>
    </div>
    <dx-check-box *ngIf="!getColumnActiveLoadingVisibility(data.data.id)" [(value)]="data.data.isActive" (onValueChanged)="changeIsActive(data.data.id, $event.value,$event)"></dx-check-box>
  </div>
  </dx-data-grid> 
</div>
