<section class="pr-6">
  <div class="w-full grid grid-cols-12 gap-2" id="dashboard-content">
    <div class="col-span-12 rounded-xl bg-white flex justify-end items-center p-2">
      <dx-select-box
        placeholder="Selectionner un utilisateur"
        [showClearButton]="true"
        width="500"
        [dataSource]="usersDatasource"
        displayExpr="description"
        valueExpr="id"
        (onValueChanged)="selectedUserChanged($event)"
      ></dx-select-box>
    </div>
    <div class="col-span-3 rounded-xl bg-white flex flex-col justify-center items-center gap-4 p-3">
       <h2 class="text-3xl text-gray-700">Total</h2>
      <p class="text-6xl text-orange-600 my-3 ">{{statsDatasource.total}}</p>
    </div>
    <div class="col-span-3 rounded-xl bg-white flex flex-col justify-center items-center gap-4 p-3">
      <h2 class="text-3xl text-gray-700">Ce Mois</h2>
      <p class="text-6xl text-orange-600 my-3 ">{{statsDatasource.month}}</p>
    </div>
    <div class="col-span-3 rounded-xl bg-white flex flex-col justify-center items-center gap-4 p-3">
      <h2 class="text-3xl text-gray-700">Cette Semaine</h2>
      <p class="text-6xl text-orange-600 my-3 ">{{statsDatasource.week}}</p>
    </div>
    <div class="col-span-3 rounded-xl bg-white flex flex-col justify-center items-center gap-4 p-3">
      <h2 class="text-3xl text-gray-700">Aujourd'hui</h2>
      <p class="text-6xl text-orange-600 my-3 ">{{statsDatasource.day}}</p>
    </div>

    <div class="col-span-3 rounded-xl bg-white p-2 py-1">
      <app-pie-chart-wrapper
        [datasource]="perTypeDatasource"
        title="Par Type"
      ></app-pie-chart-wrapper>
    </div>
    <div class="col-span-6 rounded-xl bg-white p-2 py-1">
      <app-pie-chart-wrapper
        [datasource]="perMotifDatasource"
        title="Par Object"
      ></app-pie-chart-wrapper>
    </div>
    <div class="col-span-3 rounded-xl bg-white p-2 py-1">
      <app-pie-chart-wrapper
        [datasource]="perTypeEntrepriseDatasource"
        title="Par Type Entreprise"
      ></app-pie-chart-wrapper>
    </div>
    <div class="col-span-6 rounded-xl bg-white p-2  py-1">
      <dx-chart id="chart-by-day-of-the-week" [dataSource]="perDayOfWeekDatasource">
        <dxo-title text="Tendance par jour">
        </dxo-title>
        <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
        </dxo-legend>
        <dxo-size
          [height]="280">
        </dxo-size>
        <dxi-series
          argumentField="key"
          valueField="val"
          name="Tendance par jour"
          type="bar"
          color="#ea580c"
        >
        </dxi-series>
        <dxo-common-series-settings
          [barPadding]="0.4"
        ></dxo-common-series-settings>
        <dxo-tooltip
          [enabled]="true"
        >
        </dxo-tooltip>
      </dx-chart>
    </div>
    <div class="col-span-6 rounded-xl bg-white p-2  py-1">
      <dx-chart id="chart-by-month" [dataSource]="perMonthDatasource">
        <dxo-title text="Tendance par Mois">
        </dxo-title>
        <dxo-common-series-settings
          [barPadding]="0.4"
        ></dxo-common-series-settings>
        <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
        </dxo-legend>
        <dxo-size
          [height]="280">
        </dxo-size>
        <dxi-series
          argumentField="key"
          valueField="val"
          name="Tendance par Mois"
          type="bar"
          color="#ea580c"
        >
        </dxi-series>
        <dxo-tooltip [enabled]="true"></dxo-tooltip>
      </dx-chart>
    </div>
  </div>
</section>

