<header>
  <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between items-center">
      <div class="w-full grid grid-cols-3">
        <div class="pl-8 flex items-center">
          
          <p class="text-gray-800 dark:text-white"> 
            Bienvenu <span>{{ this.userName }}</span>
          </p>
        </div>
        <div class="flex justify-center items-center">
          <img src="assets/img/Logo1.png" class="h-8" alt="" />
        </div>

        <div class="flex justify-end items-center pr-4 lg:order-2">
          <!-- <flowbite-dark-theme-toggle></flowbite-dark-theme-toggle> -->
          <div
            *ngIf="authService.currentUserValue?.isAdmin"
            class="border-r border-r-gray-600 mr-2"
          >
            <button
              routerLink="/administration"
              class="text-white items-center bg-gray-400 hover:bg-gray-500 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg px-4 lg:px-6 py-2 lg:py-2.5 mr-2"
            >
              Administration
            </button>
          </div>
          <div class="flex justify-end items-center lg:order-2">
            <a
              (mouseenter)="toggleDefault()"
              (mouseleave)="toggleDefault()"
              (click)="showChangePasswordDialog()"
              id="change-password-link"
              class="text-white items-center flex gap-2 bg-orange-500 hover:bg-orange-400 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
            >
              <svg
                fill="#FFFFFF"
                class="h-6 w-6"
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 470 470"
                xml:space="preserve"
              >
                <g>
                  <path
                    d="M162.5,139.546V102.5c0-39.977,32.523-72.5,72.5-72.5s72.5,32.523,72.5,72.5v37.046c0.164,0.069,0.329,0.132,0.493,0.201
		c10.347,4.376,20.196,9.637,29.507,15.724V102.5C337.5,45.981,291.519,0,235,0S132.5,45.981,132.5,102.5v52.971
		c9.311-6.086,19.161-11.347,29.507-15.724C162.171,139.678,162.336,139.615,162.5,139.546z"
                  />
                  <path
                    d="M235,155c-86.985,0-157.5,70.515-157.5,157.5S148.015,470,235,470s157.5-70.515,157.5-157.5S321.985,155,235,155z
		 M222.552,367.034l-58.808-58.808l21.213-21.213l37.595,37.594l56.034-56.034l21.213,21.213L222.552,367.034z"
                  />
                </g>
              </svg>
            </a>
            <dx-tooltip
              target="#change-password-link"
              [(visible)]="defaultVisible"
              [hideOnOutsideClick]="false"
            >
              <div *dxTemplate="let data = data; of: 'content'">
                Changer mot de passe
              </div>
            </dx-tooltip>
            <a
              routerLink="/logout"
              class="text-white items-center flex gap-2 bg-orange-500 hover:bg-orange-400 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
            >
              <svg
                viewBox="0 0 1000 1000"
                data-name="Layer 2"
                class="h-6 w-6"
                id="Layer_2"
                xmlns="http://www.w3.org/2000/svg"
              >
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                      stroke: #020202;
                      stroke-linecap: round;
                      stroke-miterlimit: 10;
                      stroke-width: 22px;
                    }
                    .cls-2 {
                      fill: #020202;
                    }
                  </style>
                </defs>
                <path
                  class="cls-1"
                  d="M591.61,280.48C693.9,317.86,766.91,416,766.91,531.26c0,147.41-119.5,266.91-266.91,266.91S233.09,678.67,233.09,531.26c0-115.22,73-213.4,175.3-250.78"
                />
                <rect
                  class="cls-2"
                  height="160.61"
                  rx="35.92"
                  width="71.84"
                  x="464.08"
                  y="201.83"
                /></svg
              ><span>Deconnexion</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<dx-popup
  height="auto"
  width="500px"
  [showTitle]="true"
  title="Changer mon mot de passe"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [(visible)]="changePasswordDialogVisible"
>
  <div *dxTemplate="let data of 'content'">
    <div class="popup-property-details">
      <app-change-password
        [openTrigger]="triggerOpen.asObservable()"
        (cancel)="closeChangePasswordDialog()"
      ></app-change-password>
    </div>
  </div>
</dx-popup>
