<header>
  <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between items-center">
      <div class="pl-8">
        <p class="text-gray-800 dark:text-white">
          Bienvenu <span>{{ this.userName }}</span>
        </p>
      </div>
      <div class="h-6">
        <img src="assets/img/Logo1.png" class="h-8" alt="" />
      </div>

      <div class="flex items-center gap-4 lg:order-2">
        <!-- <flowbite-dark-theme-toggle></flowbite-dark-theme-toggle> -->
        <a
          routerLink="/logout"
          class="text-white bg-orange-500 hover:bg-orange-400 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
          >Deconnexion</a
        >
      </div>
    </div>
  </nav>
</header>
